* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    width: 1440px;
    height: 70px;
    background: #2965f1;
    padding-bottom: 23px;
    padding-top: 23px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    width: 1440px;
    height: 1024px;
    background: #fafaff;
    margin-bottom: 60px;
    margin-top: 60px;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding-bottom: 100px;
    padding-top: 100px;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    appearance: none;
    background-image: url("/Vector.png");
    background-repeat: no-repeat;
    background-position: right center;
    padding-left: 12px;
    font-weight: 400;
    font-size: 16px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url("/list-style-image.png");
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    padding-left: 12px;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    border: none;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 15px;
}

footer {
    /* Стили для футера */
    width: 1440px;
    height: 70px;
    background: rgba(163, 167, 255, 0.3);
    padding-bottom: 27px;
    padding-top: 26px;
}

.footer-link {
    /* Стили для футера */
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1
}